@use "./codyframe-main/main/scss/reset.scss";
@use "./codyframe-main/main/scss/typography.scss";
@use "./codyframe-main/main/scss/buttons.scss";
@use "./codyframe-main/main/scss/icons.scss";
@use "./codyframe-main/main/scss/forms.scss";
@use "./codyframe-main/main/scss/util.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

:root {
  // colors
  @include defineColorHSL(--cd-color-1, 206, 21%, 24%); // Navy
  @include defineColorHSL(--cd-color-2, 205, 38%, 89%); // Blue
  @include defineColorHSL(--cd-color-3, 207, 10%, 55%); // Grey
  @include defineColorHSL(--cd-color-6, 47, 85%, 61%); // Yellow
}

@supports (--css: variables) {
  :root {
    @include breakpoint(md) {
      --cd-header-height: 300px;
    }
  }
}

$color-dark: #00856f; //not used
$color-light: #f1f7f6;
$color-grey: rgb(109, 138, 147); //not used
$color-sky: #4f6c75; //not used
$color-darker: rgb(50, 79, 88);
$xxL: 1920px;
$xL: 1560px;

body {
  // font-family: Arial, sans-serif;
  //   font-family: "Open sans", sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: $color-light;
}

.container-hero {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  z-index: 1;

  h1 {
    color: #fff;
  }
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 60px;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  color: #fff;
  z-index: 1000;
  transition: background-color 0.4s ease-in-out;
  display: flex;
  align-items: center;
}

header .logo img {
  display: flex;
  align-items: center;
  width: 150px;
  height: 100px;
  margin-right: 10px;
}

.scrolled {
  width: 100px !important;
  height: 60px !important;
}

.header-transparent {
  background: transparent;
  padding: 10px 0;
}

.header-green {
  /* background: rgba(51, 51, 51, 0.8); */
  // background-color: rgba(112, 179, 167, 0.6);
  background-color: rgb(50, 79, 88, 0.6);
  color: #fff;
}

header nav {
  float: right;
}

header nav ul {
  list-style: none;
}

header nav ul li {
  display: inline;
  margin-left: 20px;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: 400;
}

.hero {
  position: relative;
  overflow: hidden;
  background: url("./img/181ef63e-b881-4a0d-abfd-83da2eecb13a.JPG") no-repeat
    center center/cover;
  min-height: 100vh;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: -100px;
  z-index: -2;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
  }

  h1 {
    font-size: 3rem;
    margin-bottom: 20px;
  }

  p {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }

  .hero .container-hero {
    position: relative;
    z-index: 1;
  }
}

.btn {
  background: rgb(243, 180, 21);
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
}

section {
  padding: 40px 0;
}

/* About */
.about {
  padding: 120px 20px 80px 20px;
}

.about-content {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  gap: 20px;
  flex-wrap: nowrap;
}

.wrap {
  display: flex;
  flex-direction: column;
  width: 30%;
  align-items: center;
  max-width: 800px;
  padding: 20px;
}

.circle {
  width: 68px;
  height: 68px;
  background-color: $color-darker;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  flex-shrink: 0;
  margin-bottom: 20px;

  i {
    color: #fff;
    font-size: 2rem;
  }
}

.text h3 {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 10px;
}

.text p {
  font-size: 1rem;
  text-align: center;
}

.services .service {
  margin-bottom: 20px;
}

// Highlights Section

.cd-timeline {
  overflow: hidden;
  padding: var(--space-lg) 0;
  color: var(--cd-color-3);
  background: url("./img/clyde-rs-4XbZCfU2Uoo-unsplash.jpg") no-repeat center
    center/cover;
  background-blend-mode: overlay;
  background-color: rgba(0, 0, 0, 0.5);
  // background-color: $color-light;
  font-family: var(--font-primary);

  h2 {
    font-family: var(--font-secondary);
    font-weight: 700;
    font-size: 1.6rem;
  }
}

.cd-timeline__container {
  position: relative;
  padding: var(--space-md) 0;

  &::before {
    // this is the timeline vertical line
    content: "";
    position: absolute;
    top: 0;
    left: 18px;
    height: 100%;
    width: 4px;
    background: rgb(109, 138, 147);
  }

  @include breakpoint(md) {
    &::before {
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.cd-timeline__block {
  display: flex;
  position: relative;
  z-index: 1; // make sure content is above the timeline vertical line
  margin-bottom: var(--space-lg);

  &:last-child {
    margin-bottom: 0;
  }

  @include breakpoint(md) {
    &:nth-child(even) {
      flex-direction: row-reverse; // for even blocks -> lay out content from right to left
    }
  }
}

.cd-timeline__img {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  box-shadow: 0 0 0 4px var(--color-white), inset 0 2px 0 rgba(#000, 0.08),
    0 3px 0 4px rgba(#000, 0.05);

  img {
    width: 24px;
    height: 24px;
  }

  @include breakpoint(md) {
    width: 60px;
    height: 60px;
    order: 1; // flex order -> place the image after cd-timeline__content
    margin-left: calc(5% - 30px);
    will-change: transform;

    .cd-timeline__block:nth-child(even) & {
      margin-right: calc(5% - 30px);
    }
  }
}

.cd-timeline__img--picture {
  background-color: var(--cd-color-6);
}

.cd-timeline__content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  background: var(--color-white);
  border-radius: var(--radius-md);
  padding: var(--space-sm);
  box-shadow: 0 4px 10px rgb(109, 138, 147);

  &::before {
    // triangle next to content block
    content: "";
    position: absolute;
    top: 16px;
    right: 100%;
    @include triangle(left, 7px, var(--color-white));
  }

  h2 {
    color: var(--cd-color-1);
    padding-bottom: 1rem;
  }

  p {
    font-size: 0.9rem;
    padding-top: 0.6rem;
    margin-left: var(--space-sm);
  }

  img {
    width: 60%;
    height: auto;
    object-fit: cover;
  }

  @include breakpoint(md) {
    width: 45%;
    flex-grow: 0; // prevent element from growing inside its parent
    will-change: transform;
    margin: 0;
    font-size: 0.8em;
    --line-height-multiplier: 1.2;

    &::before {
      // triangle
      top: 24px;
    }

    .cd-timeline__block:nth-child(odd) &::before {
      // change triangle direction
      right: auto;
      left: 100%;
      @include triangle(right, 7px, var(--color-white));
    }
  }
}

.content-row {
  display: flex;
  width: 100%;
}

.cd-timeline__date {
  color: alpha(var(--cd-color-2), 0.7);
  font-size: 1rem;

  @include breakpoint(md) {
    position: absolute;
    width: 100%;
    left: 120%;
    top: 20px;

    .cd-timeline__block:nth-child(even) & {
      left: auto;
      right: 120%;
      text-align: right;
    }
  }
}

@include breakpoint(md) {
  // animations
  .cd-timeline__img--hidden,
  .cd-timeline__content--hidden {
    visibility: hidden;
  }

  .cd-timeline__img--bounce-in {
    animation: cd-bounce-1 0.6s;
  }

  .cd-timeline__content--bounce-in {
    animation: cd-bounce-2 0.6s;
  }

  .cd-timeline__block:nth-child(even) .cd-timeline__content--bounce-in {
    animation-name: cd-bounce-2-inverse;
  }
}

@keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  60% {
    opacity: 1;
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    transform: translateX(20px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  60% {
    opacity: 1;
    transform: translateX(-20px);
  }

  100% {
    transform: translateX(0);
  }
}

// Partners
#partners {
  padding: 30px 40px 65px 40px;
  background-color: #fff;
  max-width: 80%;
  margin: 0 auto;
  z-index: 2;
  border-radius: 5px;
  box-shadow: 0 10px 15px rgba(109, 138, 147, 0.3),
    0 4px 6px rgba(109, 138, 147, 0.15);

  h3 {
    padding-bottom: 1.5rem;
    text-align: center;
    font-weight: 700;
  }
}

.container-partners {
  display: flex;
  justify-content: space-around;
  align-content: center;
}

.partner-img {
  width: 200px;
  height: 100px;
  overflow: hidden;
}

.partner-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

//Contact

.contact-container {
  display: flex;
  justify-content: space-around;
}

.contact__block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.block__title {
  display: flex;
  align-items: center;
  padding-bottom: 1rem;
  font-size: 1.2rem;
  color: $color-darker;

  i {
    padding-right: 0.5rem;
  }

  p {
    font-weight: 700;
  }
}

// Footer
footer {
  background: $color-darker;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}
